{% extends "app/base.html" %}

{% block content %}

<div class="row mt-0 mb-4">
    <div class="col-md-8">
        <!-- リスト表示 -->
        <h2 class="mt-3 mb-3"><svg style="vertical-align: bottom;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg> 
          買い物リスト
        </h2>
        
        <div class="card-body p-0">
            {% if isexist_need %}
            <table class="table table-striped text-center table-sm align-middle">
                <tbody>
                    {% for item in item_data %}
		    {% if item.registerer == user %}
                    {% if item.need %}
                    <tr>
                            <!-- 買うものリスト -->
                        <th class="align-middle" style="width:100%;">
                            <a class="btn btn-info" style="width:100%;" href="{% url 'restock' item.id %}">
                            {{ item.item }}
                            </a>
                        </th>
                    </tr>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="my-4 mx-4">
                <h5>補充が必要なものはありません！</h5>
            </div>
            {% endif %}
        </div>

        <!-- リストに追加 -->
        <h2 class="mt-4 mb-3"><svg style="vertical-align: bottom;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>  買い物リストに追加
        </h2>
            
        <div class="mb-4 pt-0">
        {% for place in PLACES %}
            <div class="card-body px-0 pt-0">
                <!-- 場所（パントリー，洗面台下など）を表示 -->
                <h5 class="my-2 ml-2">
                    <svg style="vertical-align: top;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                    {{ place.1}}
                </h5>
                

                <table class="table table-striped text-center table-sm">
                    <tbody>
                        {% for item in item_data %}
                        {% if item.registerer == user %}
                        {% if not item.need %}
                        {% if item.place == place.0 %}
                        <tr>
                            
                            <!-- 追加ボタン -->
                            <th class="align-middle" style="width:100%;">
                                <a class="btn btn-success" style="width:100%;" href="{% url 'addlist' item.id %}">
                                  {{ item.item }}
                                </a>
                            </th>
                            <!-- <th class="align-middle">{{ item.memo }}</th> -->
                            <!--  <th class="align-middle">{{ item.created }}</th> -->
                            <!--  <th class="align-middle">{{ item.registerer }}</th> -->
                            <!-- 編集ボタン -->
                            <th class="align-middle"><a href="{% url 'edit' item.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                              </svg></a></th>
                            <!-- 削除ボタン -->
                            <th class="align-middle"><a href="{% url 'delete' item.id %}" class="text-danger"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg></a></th>
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <div class="mb-4"><a class="btn btn-outline-primary" style="width:100%;" href="{% url 'additem' %}">新規品目を登録</a></div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">消耗品管理アプリ</h5>
            <div class="card-body">
                <!-- <p>ステップ1</p> -->
                <p class="mb-0">
                    補充する必要がある消耗品リストです．
                    補充した場合は「補充」ボタンを押してください．
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
