{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="my-4">
    <h2>品目を登録</h2>
</div>

<form method="post">
    {% csrf_token %}
    <!-- <div class="formpost">
        {% render_field form.item class="form-control" placeholder="品目名を入力" %}
    </div>
    <div class="formpost">
        {% render_field form.memo class="form-control" placeholder="備考を入力" %}
    </div> -->
    <table class="table table-striped table-sm">
        <tbody>
            {% for field in form %}
            <div class="form-group">
		{{ field.label }}: {{ field | add_class:"form-control" }}
	    </div>
	    {% if field.errors %}
	    	<div class="alert alert-danger" role="alert">{{ field.errors }}</div>
	    {% endif %}
            {% endfor %}
            <tr><td colspan="2"><button class="btn btn-primary" type="submit" style="width:100%;">登録する</button></td></tr>
        </tbody>
    </table>
</form>


{% endblock %}
